html {
  height: 100%;
  width: 100%;
  background-image: url("stars.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  padding: 10px;
  text-align: left;
  font-size: 28px;
  width: 100%;
  height: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: ultra-condensed;
  letter-spacing: -0.05em;
  -webkit-text-stroke: 0.7px #00000000;
}

#header {
  background: #0520c0;
  color: #daaf31;
  -webkit-text-stroke: 0.7px black;
}

#heading {
  margin: 0px;
  vertical-align: -webkit-baseline-middle;
}

.glitch {
  position: relative;
  z-index: 1;
}

.glitch:before,.glitch:after {
   display: block;
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0.8;
  font-weight: bold;
}

.glitch:before {
   animation: glitch-it 0.5s cubic-bezier(0.15, 0.36, 0.35, 0.84) both infinite;
   color: #00EC3C;
  /* mix-blend-mode: overlay; */
   z-index: -1;
}

.glitch:after {
   animation: glitch-it 0.5s cubic-bezier(0.05, 0.26, 0.25, 0.74) reverse both infinite;
   color: #FF007A;
  mix-blend-mode: overlay;
   z-index: -2;
}

@keyframes glitch-it {
   0% {
      transform: translate(0);
   }
   20% {
      transform: translate(-1px, 1.5px);
   }
   40% {
      transform: translate(-1.25px, -1px);
   }
   60% {
      transform: translate(1px, 1.25px);
   }
   80% {
      transform: translate(1.5px, -1px);
   }
   to {
      transform: translate(0);
   }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  height: 0vh;
  width: 100vw;
  transform: translate(0%, -20%);
}

.box {
/*   background: #0f30ec00; */
  color: #0bd30c;
  float: left;
  margin: 5px;
  padding: 5px;
  border: 2px solid #0bd30c;
}

#mc, #sta_lu, #astro, #haunt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 30vh;
}

/*#astro {
  background-image: url("bgimg3.png");
  background-color: rgba(255, 255, 255, 0.486);
  background-blend-mode: overlay;
  background-size: inherit;
}*/
  
.title {
  margin: 5px;
  font-size: 13px;
  overflow-wrap: break-word;
  text-align: center;
  letter-spacing: -0.05em;
}

#creds, #link {
  position: fixed;
  bottom: 20px;
  letter-spacing: -0.05em;
}

#creds {
  left: 20px;
  width: 30vw;
}

#link {
  right: 20px;
  width: 20vw;
}

a:link, a:visited {
  color: #21fecd;
  text-decoration: underline;
}

a:hover, .track-title:hover, .download:hover {
  text-shadow: 0px 0px 10px #5ecbab;
}

.image, #audio1, #audio2, #audio3, #audio4 {
  display:block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning {
    animation: rotate 12s infinite linear;
    animation-play-state: paused;
} 

.image {
  width: 100px;
  height: 100px;
}

#audio1, #audio2, #audio3, #audio4 {
  width: 48vw; height: 30px; font-size: 10px;
  margin: 10px;
}

.tooltips {
  position: relative;
  display: inline-block;
}

.download {
  vertical-align: text-bottom;
  width:15px; height:15px;
}

.audio-player {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-rows: auto auto;
  align-items: center;
  background-color: #01025b;
  padding: 10px;
  border-radius: 8px;
  width: 35vw;
  /* color: white; */
  font-family: Arial, sans-serif;
  gap: 5px;
  font-size: 11px;
  margin-top: 10px;
}

.play-pause {
  grid-row: span 2;
  font-size: 24px;
  width: 40px;
  height: 40px;
  background: none;
  border-color: #00000000;
  color: white;
  text-shadow: 0px 0px 5px #5ecbab;
  vertical-align: text-middle;
}

.play-pause:hover {
  font-size: 26px;
  transition: all 500ms;
}

.track-title {
  grid-column: 2 / span 2;
}

.seek-bar {
  grid-column: 2 / span 2;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: #fefefe;
  border-radius: 3px;
  outline: none;
  overflow: hidden;
  position: relative;
  accent-color: #5ecbab;
  box-shadow: 0px 0px 5px #5ecbab;
}

.current-time, .duration {
  grid-column: 4;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltips .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltips:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
